<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
                          https://maven.apache.org/xsd/settings-1.2.0.xsd">
    <servers>
        <server>
            <id>farmroad</id>
            <username>${server.username}</username>
            <password>${server.password}</password>
            <filePermissions>664</filePermissions>
            <directoryPermissions>775</directoryPermissions>
            <configuration></configuration>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>farmroad</id>
            <mirrorOf>farmroad</mirrorOf>
            <url>http://nexus-lb-1189465380.us-east-1.elb.amazonaws.com:8081/repository/farmroad/</url>
            <blocked>false</blocked>
        </mirror>
    </mirrors>
</settings>